@import "responsive";
$menu_color:#EDDB7A;
section.first_screen{
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .content_first_page{
    display: flex;
    flex-flow: column;
    text-align: center;
    height: 30%;
    justify-content: space-between;
    .first_block{
      font-size: 72px;
      @include phone{
        font-size: 36px;
      }
      @include tiny {
        font-size: 36px;
      }
    }
    .second_block{
      font-size: 21px;
      @include phone{
        font-size: 14px;
      }
      @include tiny {
        font-size: 14px;
      }
    }
  }
}