$size: 2.5rem;
$thickness: .4rem;
$gap: 0.6rem;
$color: #907F48;
$roundCap: true;
@import "responsive";
.to-close{
  display: none;
  @include tiny{
    display: block;
  }
}

*,
*:before,
*:after {
  transition: all 300ms ease;
}



input {
  display: none;
}

label {
  display: block;
  width: $size;
  height: ($thickness * 3 + $gap * 2);
  position: relative;

  span {
    position: relative;
    top: $thickness + $gap;

    &,
    &:before,
    &:after {
      display: block;
      background: $color;
      width: $size;
      height: $thickness;
      @if $roundCap {
        border-radius: $thickness / 2;
      }
    }

    &:before,
    &:after {
      content: '';
      position: absolute;
    }

    &:before {
      bottom: $gap + $thickness;
    }

    &:after {
      top: $gap + $thickness;
    }

    .left &,
    .top &,
    .bottom & {
      &:before {
        transform-origin: top left;
      }

      &:after {
        transform-origin: bottom left;
      }
    }

    .right & {
      &:before {
        transform-origin: top right;
        right: 0;
      }

      &:after {
        transform-origin: bottom right;
        right: 0;
      }
    }

    :checked ~ & {

      .to-arrow & {
        &:before,
        &:after {
          width: 60%;
        }

        &:before {
          bottom: (-1) * $thickness / 4;
        }

        &:after {
          top: (-1) * $thickness / 4;
        }
      }

      .left &,
      .top &,
      .bottom & {

        &:before {
          transform: rotate(-40deg);
        }
        &:after {
          transform: rotate(40deg);
        }
      }

      .right & {
        &:before {
          transform: rotate(40deg);
        }
        &:after {
          transform: rotate(-40deg);
        }
      }

      .top & { transform: rotate(90deg); }
      .bottom & { transform: rotate(-90deg); }

      .x & {
        width: 0;
        &:before {
          transform: rotate(45deg);
          bottom: 0;
        }
        &:after {
          transform: rotate(-45deg);
          top: 0;
        }
      }

      .x1 & {
        background: none;
        &:before { animation: x1Before 500ms forwards; }
        &:after { animation: x1After 500ms forwards; }
      }

      @keyframes x1Before {
        50% {
          bottom: 0;
          transform: rotate(0deg);
        }
        100% {
          bottom: 0;
          transform: rotate(45deg);
        }
      }

      @keyframes x1After {
        50% {
          top: 0;
          transform: rotate(0deg);
        }
        100% {
          top: 0;
          transform: rotate(-45deg);
        }
      }

    }
  }
}