@import "normalize";
@import "nav_menu";
@import "hamberger";
@import "first_screen";
@import "second_screen";
@import "modal";
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Caption');


*{
  box-sizing: border-box !important;
  font-family: 'PT Sans Caption', sans-serif !important;
  font-weight: lighter !important;
  color:black;
}

